<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.krishiudyog">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Welscreen"
            android:exported="true">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity android:name=".welcomescreen"
            android:exported="false"/>
        <activity android:name=".Prod_Orders"
            android:exported="false"/>
        <activity android:name=".Display_item"
            android:exported="false"/>
        <activity android:name=".ShowCart"
            android:exported="false"/>
        <activity android:name=".ConsumerViewItem"
            android:exported="false"/>
        <activity android:name=".ConsumerSearchItem"
            android:exported="false"/>
        <activity android:name=".ConsumersHomePage"
            android:exported="false"/>
        <activity android:name=".ViewItems"
            android:exported="false"/>
        <activity android:name=".Additem"
            android:exported="false"/>
        <activity android:name=".ProducersHomePage"
            android:exported="false"/>
        <activity android:name=".ProducerLogin"
            android:exported="false"/>
        <activity android:name=".ConsumerLogin"
            android:exported="false"/>
        <activity android:name=".RegisterConsumer"
            android:exported="false"/>
        <activity android:name=".RegisterProducer"
            android:exported="false"/>
        <activity android:name=".MainActivity"
            android:exported="false">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>